<style>

div svg {
  border: 1px solid black;
  shape-rendering: optimizeSpeed;
  stroke: black;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.main_view div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 1px;
  margin: 1px;
  color: white;
  border: 1px solid black;
}

.main_view div:hover {
  background-color: orange;
  font: 15px sans-serif;
}


body {
  font: 10px sans-serif;
}

div #main {
  width: 100%;
  overflow: hidden;
}

div .view {
  width: 20%;
  height: 500px;
  float: left;
  border: 1px solid black;
}

div .scheme {
  margin-top: 100px;
  width: 80%;
  height: 500px;
  border: 1px solid black;
}

.backpaper {
  stroke: black;
  fill: white;
  text-align: center
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

</style>