.background {
  fill: #EFECB5;
  opacity: 0.5;
}

line {
  stroke: #fff;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #c1c9c8;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
}

.btn:hover {
  background: #FFA465;
  text-decoration: none;
}

h1, h3 {
  color: #91234C;
}

.sup {
  position: relative;
  bottom: 1ex; 
  font-size: 80%;
}

.circle {
  opacity: 0.0;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  border: solid 25px rgba(255, 255, 255, 0.2);
  border-top-color: #FFF;
  -webkit-animation: spin 1s infinite linear;
}

.circle:hover {
  opacity: 1.0;
}

@-webkit-keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
  } 
}


