.background {
  fill: #EFECB5;
  opacity: 0.5;
}

line {
  stroke: #fff;
}

.row text {
  fill: black;
}

text.highlighted {
  font-weight: bold;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #c1c9c8;
  padding: 4px 10px 4px 10px;
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
}

.btn:hover {
  background: #FFA465;
  text-decoration: none;
}

h1, h3 {
  color: #91234C;
}

.sup {
  position: relative;
  bottom: 1ex; 
  font-size: 80%;
}


.meter { 
  opacity: 0.5;
  width: 600px;
  height: 20px;
  position: relative;
  background: #555;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 3px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: #FFA465;
 
  position: relative;
  overflow: hidden;
}


